@import '../../../src//responsive.scss';

.usericon {
    color: #264653!important;
    font-weight: 600!important;
    margin-right: 8px!important;
}
.pages {
    color: #264653!important;
    font-weight: 600!important;
    margin-top: -5px!important;
}
.pagenav {
    color: #264653!important;
    font-weight: 600!important;
    margin: -4px 8px!important;
    font-size: 15px!important;
}