@import '../../../src//responsive.scss';

.product-sidebar {
    display: flex;
    width: 91%;
    margin: 0 72px;
    @include respond-to(tablet-mini) {
        margin: 0 33px;
        flex-direction: column;
      }
      @include respond-to(mobile-small) {
       flex-direction: column;
      }
}
.sidebar {
    width: 45%!important;
}
.sidebar-options {
    width: 28%;
    max-width: 100%;
    margin: 46px 0 10px 34px;
    @include respond-to(mobile-small) {
        width: 70%;
        margin: 46px 0 10px 0;
       }
       @include respond-to(tablet-mini) {
        width: 90%;
    }
}
.sidebar-container {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin-top: 30px;
    @include respond-to(tablet-mini) {
        width: 100%;
    }
    @include respond-to(mobile-small) {
        width: 90%;
       }
}
.explore {
    margin: 35px 0;
}
.explore-container {
    display: flex;
    justify-content: space-between;
    padding: 7px 50px 7px 20px;
    @include respond-to(tablet-mini) {
        padding: 7px 0px;
    }
}
.explore-container h6 {
    font-size: 16px;
    font-weight: 400;
}
.filter-container {
    display: flex;
    justify-content: space-between;
    padding: 25px 15px 25px 20px;
    @include respond-to(tablet-mini) {
        padding: 25px 15px 25px 0px;
        justify-content: space-between;
    }
}
.filter-butn {
    height: auto;
    width: 25%;
    min-width: 12%;
    font-size: 14px;
    font-weight: 500;
    border-radius: 50px;
    text-align: center;
    background-color: #264653;
    color: white;
    padding: 5px;
    text-decoration: none;
    @include respond-to(tablet-mini) {
        width: 15%;
    }
}
.filter-price {
    display: flex;
    padding-left: 20px;
    width: 68%;
    @include respond-to(tablet-mini) {
        width: 30%;
    }
}
.filter-price input {
    border: none;
}
.top-sale {
    margin: 14% 0;
    @include respond-to(tablet-mini) {
        margin: 4% 0;
    }
}
.product-side {
    display: flex;
    margin: 30px 26px 10px;
    padding: 0 10px;
    @include respond-to(tablet-mini) {
        margin: 30px 0px 10px;
        padding: 0;
    }
}
.sale-container {
    display: flex;
    width: 26%;
    margin: 14px 0;
    height: 12%;
    @include respond-to(tablet-mini) {
       width: 12%;
    }
    @include respond-to(mobile-small) {
        width: 26%;
     }
}
.sale-content {
    margin: 0 14px;
}
.sale-title {
    font-size: 13px;
    font-weight: 700;
    color: #00152b;
}
.old-price {
    font-size: 12px;
    color: #848484;
}
.new-price {
    font-size: 16px;
    color: #848484;
    font-weight: 700;
    padding-left: 10px;
}
.category-btn {
    padding-left: 0!important;
    margin: 10px 20px 10px 12px;
    @include respond-to(tablet-mini) {
        margin: 10px 0;    }
}
.category-btn li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 26px;
}
.butn-field2 {
    color: #848484;
    background-color: #eee;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 13px;
    &:hover {
        color: white;
        background-color: #f96822;
        cursor: pointer;
    }
}