.body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products {
    margin: 20px auto;
    height: auto;
    width: 17em;
    text-align: center;
    align-items: center;
    padding: 35px 32px 30px;
    box-shadow: 4px 3px 30px rgb(141 141 141 / 10%);

}
.product-title {
    margin: 15px 0 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
}
.product-img {
    width: 100%;
    object-fit: cover;
}
.product-img img {
    width: 146px!important;
    height: 142px!important;
}
.product-rating {
    margin: 0 60px;
}
.product-butn {
    margin: 20px auto;
    height: 45px;
    width: 174px;
    font-size: 18px;
    border-radius: 50px;
    text-align: center;
    background-color: white;
    border: 1px solid #00896f;
    color: #00896f;
    text-decoration: none;
}
.product-butn:hover {
    background-color: #00896f;
    color: #fff;
    font-weight: 500;
}