.account-container {
    display: flex;
    width: -webkit-fill-available;
    margin-bottom: 50px;
}
.account-reference {
    display: flex;
    flex-direction: column;
    width: 25%;
}
.account-butn {
    box-shadow: 4px 8px 30px rgb(141 141 141 / 19%);
    margin-bottom: 15px;
    padding: 13px;
    border: none!important;
    background-color: white;
    color: #848484;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
}
.account-butn:hover {
    color: white!important;
    background-color: #f96822!important;
}
.account-butn:focus {
    background-color: #f96822;
    border: none;
}
.account-icons {
    /* padding: 5px; */
    margin-right: 5px;
}
.account-preferences {
    box-shadow: 4px 8px 30px rgb(141 141 141 / 19%);
    margin-left: 45px;
    width: 95%;
    padding: 45px 30px 35px;
    height: auto;
}
.notification-div {
    display: flex;
    margin: 35px auto 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.account-notification {
    border: 1px solid #eee;
    width: 22%;
    height: 54%;
    text-align: center;
    padding: 38px 6px; 
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}
.counter {
    font-size: 45px;
    color: #848484;
}
.counter-title {
    color: #505050;
    font-size: 22px;
    padding-top: 6px;
}
.dashboard-preferences {
    box-shadow: 4px 8px 30px rgb(141 141 141 / 19%);
    margin-left: 45px;
    width: 71%;
    padding: 50px 30px 35px;
    height: auto;
}