.product-banner {
    width: 100%;
    height: 430px;
    object-fit: cover;
    display: flex;
    background-image: linear-gradient(rgba(0,43,70,0.7),rgba(0,43,70,0.7)) ,url(../../images/inner-banner.jpg);
}
.overlay-1 {
    height: 430px;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 40px;
    padding: 0 175px;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
}
.title {
    font-size: 45px;
    font-weight: 700;
    font-family: manrope,sans-serif;
    margin-bottom: 10px;
}
.list {
    display: flex;
    list-style-type: none;
    /* top: 29px; */
    top: 55%;
    position: absolute;
    font-size: 20px;
    text-align: center;
    padding-left: 0!important;
}
.list ::before {
    color: white;
    float: left;
    padding-right: 0.5rem;
    content:var("<");
    
}
li {
    padding-left: 10px!important;
}
.dropdown-container {
    display: flex;
    width: 88%;
   /* margin-top: 100px auto; */
   margin: 100px auto 20px auto;
}
.drop-right  {
    display: flex;
}