@import '../../../src/responsive.scss';

.dropdown-container {
    display: flex;
    width: 85%;
    margin: 100px auto 20px auto;
    justify-content: space-between;
    @include respond-to(mobile-small) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.drop-right  {
    display: flex;
    @include respond-to(mobile-small) {
        margin-top: 12px;
    }
}
.dropdown-popularity {
    margin: 0 8px;
    border: 1px solid #264653!important;
}
.p-left {
    margin-left: 10px;
}
.pagination-body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 65px 0 28px;
}