.imgs-detail {
    display: flex;
    width: 83%;
    margin: 100px auto;
}
.product-detail {
    display: flex;
    width: -webkit-fill-available;
    /* margin: 100px auto; */
}
.side-imgs {
    width: 20%;
}
.side-imgs img {
    width: 86px;
    padding: 5px;
}
.side-imgs button {
    border: 1px solid #eee;
    background-color: white;
    margin: 15px 0;
}
.product-imgs {
    width: 82%;
    border: 1px solid #eee;
    margin: 10px 40px;
    height: fit-content;
}
.product-imgs img {
    width: 360px;
    padding: 20px;
}
.product-description h3 {
    font-weight: 600;
    font-size: 30px;
}
.product-description h4 {
    font-size: 28px;
    font-weight: 700;
    color: #f96822;
    border-bottom: 2px solid #eee;
    padding-bottom: 20px;
}
.details-btn {
    margin-bottom: 25px;
    display: flex;
}
.product-description p {
    font-size: 18px;
    padding-bottom: 20px;
}
.product-info li {
    list-style-type: none;
    line-height: 1.8rem;
    color: #adadad;
}
.product-info {
    padding-left: 0!important;
}
.product-info li span {
    color: #848484;
    margin-right: 10px;
    font-weight: 500;
}
.product-heading {
    margin-top: 0px;
    border-bottom: 2px solid #eee;
    padding-bottom: 20px;
    width: 100%;
    text-align: left;
    margin: 0 auto;
    width: 83%;
}
.review-rating {
    display: flex;
    margin-bottom: 7px;
}
.review {
    margin: 4px 0 0 17px;
}

.product-inc {
    width: 14%;
    margin-right: 10px;
}
.detail-butn2 {
    box-shadow: 4px 8px 30px rgb(141 141 141 / 19%);
    margin-bottom: 15px;
    padding: 15px;
    border: none!important;
    background-color: white;
    color: #848484;
    font-size: 22px;
    font-weight: 600;
    width: 100%;
}
.detail-butn2:hover {
    color: white!important;
    background-color: #f96822!important;
}
.detail-butn2:focus {
    background-color: #f96822;
    border: none;
}
.product-detail-btn {
    width: 25%;
    display: flex;
    flex-direction: column;
}